extends ../layout

block content
    h1 #{title}
    p
        a.button(href='/books/add') Create new book
    p
        form(method='GET', action='/books')
            input#search(type='text', name='search', placeholder='Search by title or author')
    p Filters   
        a(href='/books') All 
        |  |  
        a(href='/books?filter=overdue') Overdue 
        |  | 
        a(href='/books?filter=checked') Checked Out 
    table
        thead
            tr
                th Title
                th Author
                th Genre
                th Year Released
        tbody
            if books.length > 0
                each book in books
                    tr
                        td
                            a(href='/books/' + book.id) #{book.title}
                        td #{book.author}
                        td #{book.genre}
                        td #{book.first_published}
            else
                tr
                    td No book records were found
    nav.pagination
        ul
            if links.length > 1
                each link in links
                    li
                        a(href=link.href) #{link.num}